@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables";
@import "./keyframes";
@import "./mixins";
@import "./utils";
@import "./override";
@import "./components/_components";

#app {
    background: rgb(16, 98, 165);
    animation: bg-flow 5s infinite alternate;
    background-image: linear-gradient(45deg, #1e8c7e, #64b3d9, #208ea2, #498ada, #5b73df, #897ed3, #8172e0);
    background-size: 1100% 1100%;
    transition: all 0.3s;
}

.dark #app {
    background-image: linear-gradient(45deg, #505b67, #3a434c, #353d47, #2b3138);
}

.profile {
    transition: opacity 0.4s, marginTop 0.4s;
    box-shadow: 8px 7px 8px 10px rgba(0, 0, 0, 0.15);
}